/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/*
.hentry {
    padding: 1em !important;
}
*/

.ptl-container {
  display: flex;
  font-size: 16px;
}
.ptl-container ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.progress-timeline-posts {
  display: flex !important;
  flex-flow: row wrap;
  align-content: stretch;
}
.progress-timeline-posts > li {
  flex: 1 0 50%;
  padding: .5em;
}

.ptl-tl-container {
  flex: 1 0 65%;
}

.ptl-cat-container {
  flex: 1 0 auto;
}

.ptl--item {
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 1px 2px 4px #ccc;
}

.ptl--item-content {
  text-align: center;
  padding: 10px;
}

.ptl--item-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px;
}

.ptl--item-footer {
  line-height: 28px;
  height: 28px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: #eee;
}

.ptl--item-footer-ul {
  line-height: 28px;
  height: 28px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.ptl--item-footer-ul:after {
  content: '';
  clear: both;
  display: block;
}
.ptl--item-footer-ul > li {
  float: left;
  padding: 0 10px;
}

.ptl--item-action {
  line-height: 28px;
  height: 28px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0 10px;
}

.ptl--header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.ptl--header-title {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.ptl--cats {
  padding-top: 10px !important;
}
.ptl--cats > li {
  display: inline-block;
}

.ptl--cat {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 10px;
  background: #eee;
  border-radius: 5px;
}
